@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>>
@{
    ViewBag.Title = "Index";
}


<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Item").val(0);
        $("#Item").change(function () {
            var ItemID = $("#Item").val();
            GetItemUnitPrice(ItemID);
        });
        $("input[type=text]").change(function () {
            CalculateSubTotal();
        });

        $("#btnAddToList").click(function () {
            AddToTheItemList();
        });

        $("#btnCheckOut").click(function () {
            FinalPayment();
        })

    });

    function RemoveItem(itemID) {
        $(itemID).closest('tr').remove();

    }

    function FinalPayment() {
        var objOrderViewModel = {};
        var ListOfOrderDetailsVİewModel = new Array();
        objOrderViewModel.PaymentTypeId = $("#PaymentType").val();
        objOrderViewModel.CustomerId = $("#Customer").val();
        objOrderViewModel.FinalTotal = $("#txtFinalTotal").val();

        $("#tblRestaurantItemList").find("tr:gt(0)").each(function () {
            var OrderDetailsVİewModel = {};
            OrderDetailsVİewModel.Total = parseFloat($(this).find("td:eq(5)").text());
            OrderDetailsVİewModel.ItemId = parseFloat($(this).find("td:eq(0)").text());
            OrderDetailsVİewModel.UnitPrice = parseFloat($(this).find("td:eq(2)").text());
            OrderDetailsVİewModel.Quantity = parseFloat($(this).find("td:eq(3)").text());
            OrderDetailsVİewModel.Discount = parseFloat($(this).find("td:eq(4)").text());
            ListOfOrderDetailsVİewModel.push(OrderDetailsVİewModel);




        });

        objOrderViewModel.ListOfOrderDetailsVİewModel = ListOfOrderDetailsVİewModel;

        $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(objOrderViewModel),
            url: '/Home/Index',
            success: function (data) {
                alert(data);

            },
            error: function () {

                alert("There is some problem adding the data")
            }




        });
    }



    function AddToTheItemList() {
        var tbItemList = $("#tblRestaurantItemList");
        var UnitPrice = $("#txtUnitPrice").val();
        var Quantity = $("#txtQuantity").val();
        var Discount = $("#txtDiscount").val();
        var ItemId = $("#Item").val();
        var ItemName = $("#Item option:selected").text();
        var Total = (UnitPrice * Quantity) - Discount;


        var ItemList = "<tr><td hidden>" +
            ItemId + "</td><td>" +
            ItemName + "</td><td>" +
            parseFloat(UnitPrice).toFixed(2) + "</td><td>" +
            parseFloat(Quantity).toFixed(2) + "</td><td>" +
            parseFloat(Discount).toFixed(2) + "</td><td>" +
            parseFloat(Total).toFixed(2) +
            "</td><td> <input type='button' value='Remove' name='remove' class='btn btn-danger' onclick='RemoveItem(this)'/> </tr></tr>";
        tbItemList.append(ItemList);
        FinalItemTotal();
        ResetItem();
    }

    function FinalItemTotal() {
        $("#txtFinalTotal").val("0.00");
        var FinalTotal = 0.00;
        $("#tblRestaurantItemList").find("tr:gt(0)").each(function () {
            var Total = parseFloat($(this).find("td:eq(5)").text());
            FinalTotal = FinalTotal + Total;
        });

        $("#txtFinalTotal").val(parseFloat(FinalTotal).toFixed(2));
    }

    function ResetItem() {
        $("#txtUnitPrice").val('');
        $("#txtQuantity").val('');
        $("#txtDiscount").val('0.00');
        $("#Item").val(0);
        $("#txtTotal").val("");
    }


    function CalculateSubTotal() {
        var UnitPrice = $("#txtUnitPrice").val();
        var Quantity = $("#txtQuantity").val();
        var Discount = $("#txtDiscount").val();

        var Total = (UnitPrice * Quantity) - Discount;

        $("#txtTotal").val(parseFloat(Total).toFixed(2));
    }


    function GetItemUnitPrice(ItemID) {
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: { ItemID: ItemID },
            url: '/home/getItemUnitPrice',
            success: function (data) {
                $("#txtUnitPrice").val(parseFloat(data).toFixed(2));
            },
            error: function () {
                alert("There is some some problem to get the Unit Price.");
            }
        });
    }
</script>
<style>






    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        min-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>

<img src="https://lh3.googleusercontent.com/5AZYChOuF2TuNg10A0xrzQEwBNAEXQ3on3OmfiZmT3NLvTPrC6xLutr5u0oguabSVrkG3a73=w1280" alt="Logo" style="float:left;width:420px;height:420px;">
<div class="row">
    <div class="col-lg-4 ml-auto" style="font-family:verdana;color:brown;font-size:160%;">
        <p class="lead"> <p class="lead"> We are the Pre-Order Food Company. We are here to save your time! Are you bored waiting in restaurants? Do you think waiting for your meal in the middle of everything, after a busy day, when you are too hungry after work or school, or when you are in an afternoon break and you have only one hour for food, is a waste of your precious time? Just enter our website, choose your restaurant and your meal. </p>
    </div>
    
</div>

<fieldset>

    <legend>
        Restaurant
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Customer :
                    @Html.DropDownList("Customer", new SelectList(Model.Item1, dataValueField: "Value", dataTextField: "Text"),
                    htmlAttributes: new {@Class= "form-control"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Payment Type:
                    @Html.DropDownList("PaymentType", new SelectList(Model.Item3, dataValueField: "Value", dataTextField: "Text"),
                    htmlAttributes: new {@Class= "form-control"})
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    Total:
                    <input type="text" name="FinalTotal" readonly="readonly" id="txtFinalTotal" class="form-control" />
                </div>
            </div>


        </div>
    </div>



</fieldset>


<fieldset>
    <legend>Restaurant Items</legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Item:
                    @Html.DropDownList("Item", new SelectList(Model.Item2, dataValueField: "Value", dataTextField: "Text"),
                    htmlAttributes: new {@Class= "form-control"})
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    Unit Price:
                    <input type="text" readonly="readonly" id="txtUnitPrice" value="0.00" name="UnitPrice" class="form-control" />
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    Quantity:
                    <input type="text" id="txtQuantity" value="0.00" name="Quantity" class="form-control" />

                </div>
            </div>

        </div>



        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Discount:
                    <input type="text" id="txtDiscount" value="0.00" name="Discount" class="form-control" />

                </div>
            </div>









            <div class="col-md-4">
                <div class="form-group">
                    Total:
                    <input type="text" readonly="readonly" id="txtTotal" value="0.00" name="Total" class="form-control" />

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <input type="button" style="margin-top:20px" readonly="readonly" id="btnAddToList" value="Add to List" name="AddToList" class="btn btn-success" />

                </div>
            </div>
        </div>
    </div>
</fieldset>


<fieldset>
    <legend>Restaurant Listed Items</legend>
    <table style="width: 100%" id="tblRestaurantItemList">
        <thead>
            <tr>
                <th hidden>
                    Item ID
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Total
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
    </table>
</fieldset>

<div style="margin-top:50px">
    <input data-toggle="modal" data-target="#divPayment" style="float:right" type="button" name="checkout" value="Checkout" id="btnCheckOut" class="btn btn-primary" />

</div>

<div id="divPayment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thank you! Your order has been sent to the restaurant</h4>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>